@model IEnumerable<EmployeeMVC.DAL.Personel>
<h1>Personel Listesi</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <td>Ad</td>
        <td>Soyad</td>
        <td>Doğum Tarihi</td>
        <td>Maaş</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var personel in Model)
    {
        <tr>
            <td>@personel.Ad</td>
            <td>@personel.Soyad</td>
            <td>@personel.DogumTarihi.Value.ToShortDateString()</td>
            <td>@personel.Maas TL</td>
        </tr>
    }
    </tbody>
</table>
